main{
    padding: 0px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: rgb(10 35 68);
    padding: 20px;
    position: relative;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.521);
    z-index: 999;
    
}
header a{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    z-index: 9;
}
header a.logo{
    font-size: 30px;
    font-weight: 600;
}
header nav{
    display: flex;
    gap: 20px;
}
